
body{
 background-image: radial-gradient(circle at bottom left, 
 rgb(19, 2, 19) 0%,       
  rgb(13, 20, 33) 50%,      
  rgb(18, 26, 22) 100%    
);
width: 100vw;
height: 100vh;
overflow:hidden;

}
.glass{
  background: rgba( 255, 255, 255, 0.09 );
  backdrop-filter: blur( 60px );
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba( 255, 255, 255, 0.05 );
}
.lglass{
  background: rgba( 255, 255, 255, 0.04 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba( 255, 255, 255, 0.05 );
}
.trailer {
  position: absolute;
  top: -100vh;
  animation: slide 2s forwards;
}


@keyframes slide {
  100% { top: 0; }
}

@media only screen and (max-width: 1024px) {
  body{
  background-image: radial-gradient(circle at bottom left, 
  rgb(19, 2, 19) 0%,       
   rgb(13, 20, 33) 50%,      
   rgb(18, 26, 22) 100%    
 );
    height: auto;
    overflow-x: hidden;
 
    overflow-y: scroll;
}
.mglass{
  background: rgba( 255, 255, 255, 0.09 );
  backdrop-filter: blur( 60px );
  -webkit-backdrop-filter: blur( 6.5px );
  border: 1px solid rgba( 255, 255, 255, 0.05 );
}
}
.box{
  
  width:500px; height:400px;  
  border:solid 5px #000;
  border-color:#000 transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}
.containermain{
  height: auto;
  overflow-y: visible;
}
.glasss {
background: rgba(255, 255, 255, 0.186);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.7px);
-webkit-backdrop-filter: blur(1.7px);
border: 1px solid rgba(255, 255, 255, 0.068);
}
.fancy {
  padding:12px 12px 12px 0;
  box-shadow:0 0 0px 0px var(--c,#0000);
  background:linear-gradient(#b4d429 0 0) left/0 100% no-repeat;
  clip-path: polygon(-10px 0,var(--x,-10px) 0,var(--x,-10px) -15px,calc(10px + var(--x,-10px)) -15px,calc(10px + var(--x,-10px)) 0,100% 0,100% 100%,calc(10px + var(--x,-10px)) 100%,calc(10px + var(--x,-10px)) calc(100% + 15px),var(--x,-10px) calc(100% + 15px),var(--x,-10px) 100%,-10px 100%);
 transition: 0.7s linear,box-shadow 0.2s 0.3s; 
}
.fancy:hover {
 --c:#b4d429;
 color:#fff;
 --x:calc(100% - 10px);
 background-size: 100% 100%;
 transition: 0.7s,clip-path linear 0.4s 0.2s, background-size linear 0.4s 0.2s, color linear 0.4s 0.2s; 
}
